body {
	font-family: "Segoe UI";
}

a {
	text-decoration: none;
}

form {
	margin-top: 15px;
}

input[type="text"] {
	margin-left: 3px;
	margin-bottom: 20px;
}

input[type="email"] {
	margin-left: 7px;
	margin-bottom: 20px;
}